dataframe(load from excel) transform to list,
like mapreduce

In [1]:
import pandas as pd

In [2]:
framework = pd.read_excel("C:/Users/hadoop/Desktop/test.xlsx")

In [3]:
framework

   X    Y
0  a  a_1
1  a  a_2
2  b  b_1
3  b  b_2
4  c  c_1
5  d  d_1

In [5]:
final_list = []
tmp_list = []
k_v_tuple = sorted([(framework.iloc[i,0],framework.iloc[i,1]) for i in range(len(framework))])
chk = k_v_tuple[0][0]
for row in k_v_tuple:
    if row[0] == chk:
        tmp_list.append(row[1])
    else:
        final_list.append(tmp_list)
        tmp_list = []
        tmp_list.append(row[1])
        chk = row[0]
final_list.append(tmp_list)
final_list

[['a_1', 'a_2'], ['b_1', 'b_2'], ['c_1'], ['d_1']]